defaults:
# Keys should exactly match the folders in src/configs. Each value corresponds to yaml files within the folder.
  - model_config: default
  - training_config: default
  - tokenizer: WordPiece
  - _self_
  # - override hydra/job_logging: default
revision: "NAF2008"
mlflow:
  experiment_name: "model_improvement"
output_dir: ./hydra_outputs
